.membership-section {
    background-color: #f5f5f5;
    padding: 50px 0;
    .title {
        font-size: 30px;
        font-weight: 700;
        text-align: left !important;
        margin-bottom: 30px;
        color: #fff;
    }
    .description {
        font-size: 20px;
        font-weight: 400;
        text-align: left !important;
        margin-bottom: 30px;
        color: #fff;
    }
    .content {
        background-color: var(--color-p-2);
        margin-left: 10%;
        margin-right: 10%;
        .subcontent {
            background: url(../../../../assets/plennia/logo-left.png) bottom left no-repeat, url(../../../../assets/plennia/logo-right.png) bottom right no-repeat;
            background-image: url(../../../../assets/plennia/logo-left.png), url(../../../../assets/plennia/logo-right.png);
            background-position-x: left, right;
            background-position-y: bottom, bottom;
            background-size: initial, initial;
            background-attachment: initial, initial;
            background-origin: initial, initial;
            background-clip: initial, initial;
            background-color: initial;
            .row-content{
                padding: 50px 0;
                .description {
                    font-size: 16px;
                    font-weight: 400;
                    text-align: center;
                }
                .button {
                    background-color: var(--color-p-9);
                    border-radius: 0px;
                    &:hover {
                        background-color: var(--color-p-1);
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .membership-section {
      .content {
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .membership-section {
        .content {
          margin-left: 0%;
          margin-right: 0%;
        }
      }
  }
  