.team-title {
  color: #ff4713;
  letter-spacing: 3px;
  margin-top: 50px;
  //background-color: #ececec;
  height: 100px;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 34px;
    font-weight: 800;
  }
}

.team-members-container {
  background-color: #ff4713;
}

@media screen and (max-width: 1190px) {
  .team-title {
    color: #ff4713;
    margin-top: 50px;
    //background-color: #ececec;
    height: 100px;
    text-align: center;
    width: 100%;

    h1 {
      font-size: 24px;
    }
  }

  .team-members-container {
    background-color: #ff4713;
  }
}
