.body {
  width: 100%;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1155px) {
}

@media screen and (max-width: 840px) {
}

@media screen and (max-width: 600px) {
}
