.footer-container {
    background-color: #181818;
    bottom: 0;
    width: 100%;
    min-height: 200px;
    position: fixed;
    padding: 20px;
  .policy {
    text-align: center;
    margin: 10px;
    color: lightgray;
  }
}