.privacy-policy {
    padding: 40px;
    font-family: "Arial, sans-serif";
    line-height: "1.6";
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;

    .title {
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        padding: 40px;
    }
}