.products-cointainer {

  margin-left: 10% !important;
  margin-right: 10% !important;

  
  .carousel-control-next {
    color: black !important;
  }

  .carousel-control-prev {
    color: black !important;
  }

  .carousel-caption {
    background-color: rgba(55, 191, 201, 0.63);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-text-stroke: 2px white;
    color: #fff!important;
  }

  h2 {
    text-align: center;
    font-size: 32pt;
    padding: 20px;
  }

  .card {
    margin: 10px !important;
    padding: 10px;
    cursor: pointer;
    min-height: 280px;
  }

  .product-image {
    cursor: pointer;
  }

}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1155px) {
  
}

@media screen and (max-width: 840px) {
  
}

@media screen and (max-width: 600px) {
  .products-cointainer {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}
